# PostgreSQL Connection
DATABASE_URL="postgresql://novivet_user:novivet_secure_password_2026@localhost:5432/novivet_db"

# Master JWT Auth Secret
JWT_SECRET="novivet-super-secure-production-clinical-jwt-secret-key-2026"

# Node Environment
NODE_ENV="production"
PORT=8080
